* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: midnightblue;
    color: white;

}

main {
    border: 1px solid white;
    height: 100vh;
}

header {
    border: 1px solid red;
}
